* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: #05070A;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
}